/QC.wav
/QE.wav
/RC.wav
/RE.wav
/0C.wav
/0E.wav
/1C.wav
/1E.wav
/3E.wav
/4E.wav
/5C.wav
/5E.wav
/5Q.wav
/6C.wav
/6E.wav
/7C.wav
/7E.wav
/8C.wav
/8E.wav
/9C.wav
/9E.wav
/AC.wav
/AE.wav
/BC.wav
/BE.wav
/CC.wav
/CE.wav
/DC.wav
/DE.wav
/FE.wav
/GC.wav
/4C.wav
/EC.wav
/EE.wav
/FC.wav
/IE.wav
/JC.wav
/JE.wav
/KC.wav
/KE.wav
/LC.wav
/LE.wav
/MC.wav
/ME.wav
/NC.wav
/NE.wav
/OC.wav
/OE.wav
/PC.wav
/PE.wav
/SC.wav
/SE.wav
/TC.wav
/TE.wav
/UE.wav
/VC.wav
/VE.wav
/WC.wav
/WE.wav
/XC.wav
/XE.wav
/YC.wav
/YE.wav
/ZC.wav
/ZE.wav
/2E.wav
/3C.wav
/GE.wav
/2C.wav
/HC.wav
/HE.wav
/IC.wav
/UC.wav
